################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WordPuzzle/.vs/WordPuzzle/v16
/WordPuzzle/WordPuzzle/obj
/WordPuzzle/WordPuzzle/bin/Debug/netcoreapp2.2
/WordPuzzle/WordPuzzle.Tests/bin/Debug/netstandard2.0
/WordPuzzle/WordPuzzle.Tests/obj
/WordPuzzle/WordPuzzle.UnitTests/obj
/WordPuzzle/PerformanceTestRunner/bin
/WordPuzzle/PerformanceTestRunner/obj
/WordPuzzle/WordPuzzle/bin/Release/netcoreapp2.2
/WordPuzzle/WordPuzzle.UnitTests/bin
