################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WordPuzzle/.vs/WordPuzzle/v16
